* {     /*THIS IS FOR HOME*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

/* Dep */

body {
    display: flex;
    height: 200vh;
    width: 100vw;
    padding: .5vw;
    align-items: center;
    flex-direction: column;
}

section {
    width: 100vw;
    padding: 1rem 5vw;
    display: flex;
    gap: 1rem;
    align-items: flex-end;
}

/* Dev */
header.design-one-header,
header.design-one-header * {
    outline: 2px red dotted;
}

.design-one-header {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: .7rem 10vw;
    align-items: center;
    background-color: #2C3E50;

    & > img.logo {
        height: 50px;
    }
    & > .navigation {
        display: flex;
        gap: 1rem;
        align-items: center;

        & > .navigation-content {
            color: aliceblue;
            font-weight: 800;
            font-size: 1.2rem;
        }
    }
}

/* Dev */
/* header.design-two-header,
header.design-two-header * {
    outline: 2px red dotted;
} */

.design-two-header {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: .7rem 10vw;
    align-items: center;
    background: black;

    & > img.logo {
        height: 45px;
    }
    & > .navigation {
        display: flex;
        gap: 1rem;
        align-items: center;

        & > .navigation-content {
            color: aliceblue;
            font-weight: 800;
            font-size: 1.2rem;
        }

        & > .call-to-action {
            border: 3px white solid;
            background-color: black;
            color: #85f700;
            padding: .5rem 1rem;
            border-radius: 60px;
        }
    }
}

/* Dev */
/* header.design-three-header,
header.design-three-header * {
    outline: 2px red dotted; 
} */

.design-three-header {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: .7rem 10vw;
    align-items: center;
    background-color: black;

    & > img.logo {
        height: 100px;
    }
    & > .navigation {
        display: flex;
        gap: 1rem;
        align-items: center;

        & > .navigation-content {
            color: aliceblue;
            font-weight: 700;
            font-size: 1.6rem;
            color: #85f700;
        }
        & > .navigation-icon {
            color: aliceblue;
            font-weight: 800;
            font-size: 1.8rem;
            color: rgba(182, 180, 180, 0.623);
        }
    }
}

/* Dev */
/* header.design-four-header,
header.design-four-header * {
    outline: 2px red dotted;
} */

.design-four-header {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: .7rem 10vw;
    align-items: center;
    background-image:url(../img/background-img-geometry.jpg);
    background-size: cover;

    & > img.logo {
        height: 45px;
    }

    .nav-border-left {
        position: absolute;
        left: 50%;
        border-radius: 60px;
        border: 2px black solid;
        background-color: rgb(0, 0, 0,0.8);
        backdrop-filter: blur(100px);
        width: 37vw;

    }
    .navigation {
        display: flex;
        text-align: center;
        justify-content: space-evenly;

        & > .navigation-content {
            color: aliceblue;
            font-weight: 600;
            font-size: 1.5rem;
        }
    }

    .nav-border-right {
        position: absolute;
        left: 90vw;
        border-radius: 60px;
        border: 2px black solid;
        background-color: rgb(0, 0, 0,0.8);
        backdrop-filter: blur(100px);
        width: 5vw;
    }

    .navigation-right {
        display: flex;
        text-align: center;
        justify-content: space-evenly;

        & > .navigation-right-icon {
            color: aliceblue;
            font-weight: 600;
            font-size: 1.5rem;
        }
    }
}

/* Dev */
/* header.design-five-header,
header.design-five-header * {
    outline: 2px red dotted; 
} */

.design-five-header {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: .7rem 10vw;
    align-items: center;
    /* background-image:url(../img/background-img-space.jpg);
    background-size: cover; */
    color: white;

    & > img.logo {
        height: 100px;
    }

    .info {
        color: black;
    }

    .top-nav {
        display: flex;
        background-color: grey;
        height: 40%;
        width: 100vw;
    }
    .top-left-nav {
        display: flex;
    }

    .top-right-nav {
        display: flex;
    }

}


