* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
img:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    height: 450vh;
    width: 98.2vw;
    padding: .5vw;
    align-items: center;
    flex-direction: column;
    background-color: #d3d3d3;
}

section {
    width: 100vw;
    padding: 1rem 5vw;
    display: flex;
    gap: 1rem;
    align-items: flex-end;
}
.header-nav {
    display: flex;
    gap: .9rem;
    margin-left: -2px;

    a {
        color: rgba(0, 0, 0, 0.742);
    }
    a:hover {
        color: black;
    }
}

.design-one-footer {                        /*----------------------FIRST-----------------------*/
    display: flex;
    width: 100vw;
    height: 11.1vh;
    justify-content: space-evenly;
    padding: .7rem 4vw .7rem 4vw;
    align-items: center;
    background-color: #f1faee;
    border-bottom: 3px #69abdc solid;
    border-top: 3px #69abdc solid;

    & > .navigation {
        display: flex;
        gap: 2rem;
        align-items: center;

        & > .footer-content {
            color: #1d3557;
            font-size: 1rem;
        }
    }
}

.design-two-footer {                    /*----------------------SECOND-----------------------*/
    display: flex;
    width: 100vw;
    height: 30vh;
    justify-content: space-between;
    padding: 1rem 12vw 1.5rem 12vw;  /*top right bottom left*/
    background: black;
    flex-direction: column;

    p {
        font-size: .9rem;
    }

    & > .top-div-container {
        display: flex;
        width: 100%;
        height: 50%;
        align-items: center;

        .first-row {
            display: flex;
            width: 15%;
            height: 100%;
            align-items: center;
            .logo {
                height: 2rem;
            }
        }
        .second-row {
            display: flex;
            width: 70%;
            height: 100%;
            justify-content: center;
            align-items: center;
            .navigation {
                display: flex;
                width: 100%;
                flex-direction: row;
                justify-content: space-evenly;
                color: white;
                width: 100%;

                a {
                    color: white;
                }
            }
        }
        .third-row {
            display: flex;
            justify-content: flex-end;
            flex-direction: row;
            gap: 2.5rem;
            align-items: center;
            width: 15%;
            height: 100%;

            .content {
                color: white;
                font-size: 1.2rem;
            }
        }
    }

    & > .line {
        width: 100%;
        height: 1%;
        border-radius: 50px;
        background-color: rgb(91, 91, 91);;
    }

    & > .bottom-div-container {
        width: 100%;
        height: 40%;
        display: flex;
        color: white;
        align-items: center;

        .first-row {
            width: 60%;
            p {
                color: rgb(147, 147, 147);
            }

        }
        .second-row {
            display: flex;
            justify-content: flex-end;
            gap: 3rem;
            width: 40%;
            align-items: center;

            a{
                color: rgb(147, 147, 147);
            }
            p {
                text-align: center;
                font-size: .7rem;
                color: rgb(147, 147, 147);
            }
        }
    }
}

.design-three-footer {                               /*----------------------THIRD STATIC-----------------------*/
    display: flex;
    width: 100vw;
    height: 44vh;
    justify-content: space-between;
    padding: 1rem 13vw 5.4rem 13vw;  /*top right bottom left*/
    background: white;
    flex-direction: column;

    & > .top-div-container {
        display: flex;
        width: 100%;
        height: 17.5%;
        align-items: flex-end;

        .logo {
            height: 2rem;
        }
    }
    & > .bottom-div-container {
        display: flex;
        width: 100%;
        padding-top: 2.6rem;
        height: 82.5%;

        .left-div-container {
            display: flex;
            width: 70%;
            gap: 8rem;

            h1 {
                color: black;
                font-size: .9rem;
                font-weight: 500;
            }
            a {
                color: rgb(59, 59, 59);
                font-size: .85rem;
                font-weight: 400;
            }

            .first-col,
            .second-col,
            .third-col{
                display: flex;
                flex-direction: column;
                gap: .33rem;
            }
        }

        .right-div-container {
            display: flex;
            width: 30%;
            flex-direction: column;
            justify-content: flex-end;

            .top-div {
                display: flex;
                height: 20%;
                gap: .7rem;

                p {
                    color: black;
                }
                .text-area {
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    width: 76%;
                    gap: .5rem;
                }

                .toggle-div {
                    display: flex;
                    width: 24%;
                    align-items: flex-end;

                    .outer {
                        display: flex;
                        width: 60px;
                        height: 30px;
                        background-color: black;
                        border-radius: 50px;
                        align-items: center;
                        padding: 0rem 0vw 0rem .3vw; /*top right bottom left*/

                        .inner {
                            display: flex;
                            width: 20px;
                            height: 20px;
                            background-color: white;
                            border-radius: 20px;
                        }
                    }
                }
            }

            .middle-div {
                display: flex;
                height: 30%;
                width: 100%;
                flex-direction: row;
                justify-content: flex-end;
                align-items: flex-end;
                padding-bottom: .5rem;
                gap: .5rem;

                .contents {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 8px;
                    font-size: 1.5rem;
                    width: 2.811vw;
                    height: 5vh;
                    background-color: white;
                    border: 1.5px black solid;
                    color: black;
                }

            }
            .bottom-div {
                display: flex;
                justify-content: flex-end;
                font-size: .8rem;
                color: grey;
            }
        }
    }
}

.design-four-footer {                    /*----------------------FOURTH STATIC-----------------------*/
    display: flex;
    width: 100vw;
    height: 36vh;
    justify-content: space-between;
    padding: 3rem 17.5vw 3rem 17.5vw;  /*top right bottom left*/
    background: #FFFFF0;
    flex-direction: row;

    p,
    a {
        font-size: .9rem;
        color: rgb(45, 45, 45);
    }

    h1 {
        font-size: 1.9rem;
        color: #c01e29;
    }

    & > .first-col {
        display: flex;
        width: 33.3333333333%;
        flex-direction: column;
        gap: 1rem;

        .social-nav{
            display: flex;
            height: 20%;
            width: 100%;
            justify-content: space-between;
            padding-right: 2.7rem;

            align-items: center;
            .contents {
                display: flex;
                height: 5vh;
                width: 2.5vw;
                align-items: center;
                justify-content: center;
                border-radius: 50px;
                border: 1.8px black solid;
                font-size: 1.8rem ;
                color: #c01e29;

            }
        }
        .padding-p {
            padding-top: 3rem;
        }
    }
    & > .second-col {
        display: flex;
        width: 33.3333333333%;
        padding: 0rem 2vw 0rem 2vw;  /*top right bottom left*/
        flex-direction: column;
        gap: 1rem;

        p {
            font-size: .9rem;
        }
    }

    & > .third-col {
        display: flex;
        width: 33.3333333333%;
        height: 100%;
        flex-direction: column;
        gap: 1rem;

        .navigation {
            display: flex;
            gap: 1rem;
            width: 100%;

        }
    }


}

.design-five-footer {                                           /*----------------------FIFTH-STATIC----------------------*/
    display: flex;
    width: 100vw;
    height: 23.5vw;
    justify-content: space-between;
    padding: 5.2rem 4.4vw 5.2rem 4.4vw;      /*top right bottom left*/
    align-items: center;
    background: black;

    p {
        color: white;
    }
    .logo {
        height: 4.1rem;
    }
    & > .left-div-container {
        height: 100%;
        width: 31.65vw;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .left-top-div-container {
            display: flex;
            flex-direction: row;
        }

        .left-p {
            color: grey;
        }

        .left-bottom-div-container {
            display: flex;
            padding-left: .39rem;
            padding-top: .44rem;
            gap: 1.1rem;

            .content {
                font-size: 1.5rem;
                color: #65df29;
            }
        }
    }
    & > .right-div-container {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 59.6vw;
        justify-content: space-between;   /*top right bottom left*/

        h1 {
            color: white;
            font-size: 1.2rem;
            font-weight: 400;
            padding-bottom: 1rem;
        }
        a {
            color: white;
            font-weight: 200;
        }
        .pad {
            padding-top: .1rem;
            gap: 1rem;
        }
        .first-col,
        .second-col,
        .third-col,
        .fourth-col {
            display: flex;
            flex-direction: column;
        }
    }
}

/* ANIMATED */

.design-one-animated-footer {                        /*----------------------FIRST-----------------------*/
    display: flex;
    width: 100vw;
    height: 11.1vh;
    justify-content: space-evenly;
    padding: .7rem 4vw .7rem 4vw;
    align-items: center;
    background-color: #f1faee;
    border-bottom: 3px #69abdc solid;
    border-top: 3px #69abdc solid;

    & > .navigation {
        display: flex;
        gap: 2rem;
        align-items: center;
        
        & > .footer-content {
            color: #1d3557a0;
            transition: 0.4s;
            font-size: 1rem;
        }
        a:hover {
            text-transform: uppercase;
            font-size: .95rem;
            color: #1d3557;
            border-bottom: 2px #69abdc solid;
            margin-bottom: -2px;
            font-weight: 600;
        }
    }
}

.design-two-animated-footer {                    /*----------------------SECOND-----------------------*/
    display: flex;
    width: 100vw;
    height: 30vh;
    justify-content: space-between;
    padding: 1rem 12vw 1.5rem 12vw;  /*top right bottom left*/
    background: black;
    flex-direction: column;

    p {
        font-size: .9rem;
    }

    & > .top-div-container {
        display: flex;
        width: 100%;
        height: 50%;
        align-items: center;

        .first-row {
            display: flex;
            width: 15%;
            height: 100%;
            align-items: center;
            .logo {
                height: 2rem;
            }
            .logo:hover {
                transition: .5s;
                transform: rotateX(90deg);
                transform: rotateY(360deg);
            }
        }
        .second-row {
            display: flex;
            width: 70%;
            height: 100%;
            justify-content: center;
            align-items: center;
            .navigation {
                display: flex;
                width: 100%;
                flex-direction: row;
                justify-content: space-evenly;
                color: white;
                width: 100%;
                a {
                    color: rgba(255, 255, 255, 0.693);
                }
                .navigation-content:hover{
                    border-left: 2px #65df29 solid;
                    margin-right: -7px;
                    padding-left: 5px;
                    color: white;
                }
            }
        }
        .third-row {
            display: flex;
            justify-content: flex-end;
            flex-direction: row;
            gap: 2.5rem;
            align-items: center;
            width: 15%;
            height: 100%;

            .content {
                color: rgba(255, 255, 255, 0.693);
                font-size: 1.2rem;
            }
            .content:hover{
                color: white;
                text-shadow: 0px 5px 10px rgba(255, 255, 255, 0.693);;
            }
        }
    }

    & > .line {
        width: 100%;
        height: 1%;
        border-radius: 50px;
        background-color: rgb(91, 91, 91);
        transition: .5s;
    }

    & > .line:hover {
        background-color: white;
    }

    & > .bottom-div-container {
        width: 100%;
        height: 40%;
        display: flex;
        color: white;
        align-items: center;

        .first-row {
            width: 60%;
            p {
                color: rgb(147, 147, 147);
            }

        }
        .second-row {
            display: flex;
            justify-content: flex-end;
            gap: 3rem;
            width: 40%;
            align-items: center;

            a{
                color: rgb(147, 147, 147);
            }
            p {
                text-align: center;
                font-size: .7rem;
                color: rgb(147, 147, 147);
            }
            a:hover {
                color: rgba(255, 255, 255, 0.782);
            }
        }
    }
}

.design-three-animated-footer {                               /*----------------------THIRD ANIMTAED-----------------------*/
    display: flex;
    width: 100vw;
    height: 44vh;
    justify-content: space-between;
    padding: 1rem 13vw 5.4rem 13vw;  /*top right bottom left*/
    background: white;
    flex-direction: column;

    & > .top-div-container {
        display: flex;
        width: 100%;
        height: 17.5%;
        align-items: flex-end;

        .logo {
            height: 2rem;
        }
    }
    & > .bottom-div-container {
        display: flex;
        width: 100%;
        padding-top: 2.6rem;
        height: 82.5%;

        .left-div-container {
            display: flex;
            width: 70%;
            gap: 8rem;

            h1 {
                color: black;
                font-size: .9rem;
                font-weight: 500;
            }
            a {
                color: rgb(59, 59, 59);
                font-size: .85rem;
                font-weight: 400;
            }

            .first-col,
            .second-col,
            .third-col{
                display: flex;
                flex-direction: column;
                gap: .33rem;
            }

            .with-effect:hover{
                color: rgb(0, 0, 0);
            }
        }

        .right-div-container {
            display: flex;
            width: 30%;
            flex-direction: column;
            justify-content: flex-end;

            .top-div {
                display: flex;
                height: 20%;
                gap: .7rem;

                p {
                    color: black;
                }
                .text-area {
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    width: 76%;
                    gap: .5rem;
                }

                .toggle-div {
                    display: flex;
                    width: 24%;
                    align-items: flex-end;

                    .outer {
                        display: flex;
                        width: 60px;
                        height: 30px;
                        background-color: black;
                        border-radius: 50px;
                        align-items: center;
                        padding: 0rem 0vw 0rem .3vw; /*top right bottom left*/

                        .inner {
                            display: flex;
                            width: 20px;
                            height: 20px;
                            background-color: white;
                            border-radius: 20px;
                        }
                    }
                }
            }

            .middle-div {
                display: flex;
                height: 30%;
                width: 100%;
                flex-direction: row;
                justify-content: flex-end;
                align-items: flex-end;
                padding-bottom: .5rem;
                gap: .5rem;

                .contents {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 8px;
                    font-size: 1.5rem;
                    width: 2.811vw;
                    height: 5vh;
                    background-color: white;
                    color: black;
                    transition: 0.3s;
                }
                .fa-youtube:hover {
                    background-color: white;
                    border: 1.5px black solid;
                    color: #FF0000;
                }
                .fa-facebook:hover {
                    background-color: white;
                    border: 1.5px black solid;
                    color: #1877F2;
                }
                .fa-twitch:hover {
                    background-color: white;
                    border: 1.5px black solid;
                    color: #6441a5;
                }
                .fa-discord:hover {
                    background-color: white;
                    border: 1.5px black solid;
                    color: #7289da;
                }
                .no-color:hover {
                    background-color: white;
                    border: 1.5px black solid;
                    color: rgba(34, 34, 34, 0.7);
                }
            }
            .bottom-div {
                display: flex;
                justify-content: flex-end;
                font-size: .8rem;
                color: grey;
            }
        }
    }
}

.container-four {                            /*---------------------------FOURTH ANIMATED--------------------------------*/
    position: relative;
    width: 100vw;
    height: 46.75vh;
    label {
        width: 60px;
        height: 30px;
        position: absolute;
        display: block;
        left: 82%;
        bottom: 39%;
        background-color: black;
        border-radius: 50px;
        cursor: pointer;
        transition: 0.3s;
        z-index: 999;
    }
    label:after {
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;
        top: 5px;
        left: 5px;
        background: white;
        border-radius: 20px;
        transition: 0.3s;
    }
    input {
        width: 0;
        height: 0;
        visibility: hidden;
    }
    input:checked + label {
        background-color: white;
    }
    input:checked + label:after {
        left: 55px;
        transform: translateX(-100%);
        background: black;
    }
    label:active:after{
        width: 25px;
    }
    input:checked + label + .design-four-animated-footer{
        filter: invert(100%) hue-rotate(180deg);
    }
    input:checked + label + .design-four-animated-footer .right-div-container .top-div .dark{
        visibility: hidden;
    }
    input:checked + label + .design-four-animated-footer .right-div-container .middle-div .fa-youtube:hover{
        transition: 0s;
        color: #FF0000;
        filter: invert(100%) hue-rotate(180deg);
    }
    input:checked + label + .design-four-animated-footer .right-div-container .middle-div .fa-facebook:hover{
        transition: 0s;
        color: #1877F2;
        filter: invert(100%) hue-rotate(180deg);
    }
    input:checked + label + .design-four-animated-footer .right-div-container .middle-div .fa-twitch:hover{
        transition: 0s;
        color: #6441a5;
        filter: invert(100%) hue-rotate(180deg);
    }
    input:checked + label + .design-four-animated-footer .right-div-container .middle-div .fa-discord:hover{
        transition: 0s;
        color: #7289da;
        filter: invert(100%) hue-rotate(180deg);
    }
    input:checked + label + .design-four-animated-footer .right-div-container .middle-div .no-color:hover{
        transition: 0s;
        color: black;
        filter: invert(100%) hue-rotate(180deg);

    }


    .design-four-animated-footer {                               /*----------------------FOUR------------------------*/           
        display: flex;
        width: 100vw;
        height: 44vh;
        justify-content: space-between;
        padding: 1rem 13vw 5.4rem 13vw;  /*top right bottom left*/
        flex-direction: column;
        background-color: white;

        & > .top-div-container {
            display: flex;
            width: 100%;
            height: 17.5%;
            align-items: flex-end;

            .logo {
                height: 2rem;
            }
        }
        & > .bottom-div-container {
            display: flex;
            width: 100%;
            padding-top: 2.6rem;
            height: 82.5%;

            .left-div-container {
                display: flex;
                width: 70%;
                gap: 8rem;

                h1 {
                    color: black;
                    font-size: .9rem;
                    font-weight: 500;
                }
                a {
                    color: rgb(59, 59, 59);
                    font-size: .85rem;
                    font-weight: 400;
                }
                .first-col,
                .second-col,
                .third-col{
                    display: flex;
                    flex-direction: column;
                    gap: .33rem;
                }

                .with-effect:hover{
                    color: black;
                }
            }
            .right-div-container {
                display: flex;
                width: 30%;
                flex-direction: column;
                justify-content: flex-end;


                .top-div {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: flex-end;
                    padding-right: 25%;
                    height: 40%;
                    width: 100%;

                    .dark {                     /*SWITCHING TEXT*/
                        position: absolute;
                        background-color: white;
                    }
                }

                .middle-div {
                    display: flex;
                    height: 30%;
                    width: 100%;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: flex-end;
                    padding-bottom: .5rem;
                    gap: .5rem;

                    .contents {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 8px;
                        font-size: 1.5rem;
                        width: 2.811vw;
                        height: 5vh;
                        transition: 0.3s;
                        color: black;
                    }
                    .fa-youtube:hover {
                        background-color: white;
                        border: 1.5px black solid;
                        color: #FF0000;
                    }
                    .fa-facebook:hover {
                        background-color: white;
                        border: 1.5px black solid;
                        color: #1877F2;
                    }
                    .fa-twitch:hover {
                        background-color: white;
                        border: 1.5px black solid;
                        color: #6441a5;
                    }
                    .fa-discord:hover {
                        background-color: white;
                        border: 1.5px black solid;
                        color: #7289da;
                    }
                    .no-color:hover {
                        background-color: white;
                        border: 1.5px black solid;
                        color: rgba(34, 34, 34, 0.7);
                    }
                }
                .bottom-div {
                    display: flex;
                    justify-content: flex-end;
                    font-size: .8rem;
                }
            }
        }
    }
}

.design-five-animated-footer {                                           /*----------------------FIFTH ANIMATED----------------------*/
    display: flex;
    width: 100vw;
    height: 23.5vw;
    justify-content: space-between;
    padding: 5.2rem 0vw 5.2rem 4.4vw;      /*top right bottom left*/
    align-items: center;
    background: black;

    p {
        color: white;
    }
    .logo {
        height: 4.1rem;
    }
    & > .left-div-container {
        height: 100%;
        width: 31.65vw;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .left-top-div-container {
            display: flex;
            flex-direction: row;
        }

        .left-p {
            color: grey;
        }

        .left-bottom-div-container {
            display: flex;
            padding-left: .39rem;
            padding-top: .44rem;
            gap: 1.1rem;

            .content {
                font-size: 1.5rem;
                color: #65df29;
            }
            .content:hover {
                color: #66df29aa;
            }
        }
    }
    & > .right-div-container {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 64vw;
        justify-content: space-between;   /*top right bottom left*/

        h1 {
            color: white;
            font-size: 1.2rem;
            font-weight: 400;
            padding-bottom: 1rem;
        }
        a {
            color: rgb(188, 188, 188);
            font-weight: 200;
        }
        .pad {
            padding-top: .1rem;
            gap: 1rem;
        }
        .first-col,
        .second-col,
        .third-col,
        .fourth-col {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 25%;
            .arrow {
                visibility: hidden;
            }
            .contents:hover .arrow {
                transition: 0.3s;
                visibility: visible;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #65df29;
                padding-left: 1rem;
            }
            a:hover{
                font-weight: 400;
                color: white;
            }
            .contents {
                display: flex;
            }
        }

        .first-col {
            .contents {
                width: fit-content;
            }
        }
        .second-col {
            padding-left: 3.33rem;
            .contents {
                width: fit-content;
            }
        }
        .third-col {
            padding-left: 2.9rem;
            .contents {
                width: fit-content;
            }
        }
        .fourth-col {
            padding-left: 6.6rem;
            .contents {
                width: fit-content;
            }
        }
    }
}